{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blood Unity</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/style.css" %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static "assets/fontawsome/css/all.css" %}"/>
    {% block style %} {% endblock style %}

</head>
<body>

<header class=" border-bottom mb-4">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img width="40px" src="{% static 'images/blood-donation-icon.svg' %}">
            </a>
        </div>

        {#        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">#}
        {#            <li><a href="#" class="nav-link px-2 {% if request.path == '/' %}link-secondary{% endif %}">Home</a></li>#}
        {#            <li><a href="#" class="nav-link px-2">Features</a></li>#}
        {#            <li><a href="#" class="nav-link px-2">FAQs</a></li>#}
        {#            <li><a href="#" class="nav-link px-2">About</a></li>#}
        {#        </ul>#}

        {% if user.is_authenticated %}
            <div class="col-md-9 text-end">
             {% if request.user.account_type == 'user' %} 
                <button type="button" class="btn btn-outline-primary me-2" id="nearByDonor"><i
                        class="fa fa-location"></i>Nearest Donors
                </button>
                <button type="button" class="btn btn-outline-primary me-2" id="nearByBloodBank"><i
                        class="fa fa-location"></i> Nearest Blood Banks
                </button>
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'search_donors' %}"><i
                        class="fa fa-search"></i> Search Donor</a>
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'search_blood_bank' %}"><i
                        class="fa fa-search"></i> Search Blood Bank</a>
                {#                <div class="dropdown">#}
                 {% endif %}
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'chatbox_index' %}"><i
                        class="fa-regular fa-comments"></i> </a>
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bell"></i>
                    </button>

                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                        <div class="notification-heading"><h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" hidden="hidden">
                        </div>
                        <li class="divider"></li>
                        <div class="notification-footer pt-2"><a href="#" class="menu-title">View all</a></div>
                    </ul>

                </div>

                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ request.user.first_name.0|upper }}
                </button>


                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'post_list' %}">Spacial Portal</a></li>
                    
                     {% if request.user.account_type == 'blood_bank' %} 
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                         {% endif %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
                {#                </div>#}
            </div>
        {% else %}
            <div class="col-md-3 text-end">
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
                <a type="button" class="btn btn-primary" href="{% url 'register' %}">Sign-up</a>
            </div>
        {% endif %}
    </div>
    <input type="hidden" name="csrfmiddlewaretokenLocation" value="{{ csrf_token }}" hidden="hidden">
</header>
{% block content %} {% endblock content %}
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/notifications.js" %}"></script>

{% if request.user.account_type == 'user' %}
    <script>
        $(document).ready(function () {
            // Check if the browser supports Geolocation
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            } else {
                alert('Geolocation is not supported in your browser');
            }

            function successCallback(position) {
                // Get latitude and longitude from the position object
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                // Send the location to the server using jQuery AJAX
                sendLocationToServer(latitude, longitude);
            }

            function errorCallback(error) {
                // Handle errors if any
                console.error('Error getting location:', error.message);
            }

            function sendLocationToServer(latitude, longitude) {
                // Use jQuery AJAX to send the location to your server
                csrf_token = $('input[name=csrfmiddlewaretokenLocation]').val()
                var url = 'http://localhost:8002/locations/set_user_location'

                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': csrf_token
                    }
                });

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        latitude: latitude,
                        longitude: longitude,
                    },
                    success: function (data) {
                        console.log('Server response:', data);
                    },
                    error: function (error) {
                        console.error('Error sending location to server:', error);
                    }
                });
            }


            $('#nearByDonor').click(function () {
                // Check if the browser supports Geolocation
                if ('geolocation' in navigator) {
                    navigator.geolocation.getCurrentPosition(nearBySuccessCallback, errorCallback);
                } else {
                    alert('Geolocation is not supported in your browser');
                }
            });

            function nearBySuccessCallback(position) {
                // Get latitude and longitude from the position object
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                // Display the location or send it to the server
                window.location.href = 'http://localhost:8002/dashboard/near_by_donors?latitude=' + latitude + '&longitude=' + longitude;
            }

            $('#nearByBloodBank').click(function () {
                // Check if the browser supports Geolocation
                if ('geolocation' in navigator) {
                    navigator.geolocation.getCurrentPosition(nearByBloodBankSuccessCallback, errorCallback);
                } else {
                    alert('Geolocation is not supported in your browser');
                }
            });

            function nearByBloodBankSuccessCallback(position) {
                // Get latitude and longitude from the position object
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                // Display the location or send it to the server
                window.location.href = 'http://localhost:8002/dashboard/near_by_blood_banks?latitude=' + latitude + '&longitude=' + longitude;
            }
        });


    </script>

{% endif %}




{% block script %}

{% endblock script %}
</body>
</html>