{% extends 'base/base.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'dashboard/form/search-donor.html' %}
                <form method="get">
                    {{ filter.form.gender_id }}

                </form>
            </div>
        </div>
        <div class="row mt-5">
            {% for obj in filter.qs %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            Blood Donor Information
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.user.first_name }} {{ obj.user.last_name }}</h5>
                            <p class="card-text">
                                <strong>Blood Group:</strong> {{ obj.blood_group }}
                                <br>
                                <strong>Location:</strong> {{ obj.get_address }}
                            </p>
                            <a href="{% url 'create_chat_room' participant_id=obj.user.id %}" class="btn btn-primary"><i class="fa fa-comment"></i></a>
                            <a href="{% url 'public_profile' id=obj.id %}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'assets/js/register.js' %}"></script>
{% endblock %}
